@import "tailwindcss";




body {
  background: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 10%);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}


